:global {
  @import 'base';
  @import 'flexbox';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  a {
    color: #fff;
    &:visited {
      color: #fff;
      text-decoration: none;
    }
    &:active {
      color: #fff;
      text-decoration: none;
    }
    &:focus {
      color: #fff;
      text-decoration: none;
    }
    &:hover {
      color: #fff;
      text-decoration: none;
    }

  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .page-container {
    width: 100%;
    // height: 100%;
    .nav {
      background: #4C5767;
      width: 100%;
      height: 112px;
      padding: 0.5em;
      @include flexbox;
      @include align-items(center);
      // padding: 0 100px;
      color: #6BD2E4;
      font-size: 1.5em;
      font-weight: 200;
    }
    .view-container {
      @include flexbox;
      width: 100%;
      height: 100%;
      // padding: 1em 100px;
    }
  }


}
